/* You can add global styles to this file, and also import other style files */
.buttons-gap {
  display: flex;
  gap: .5rem;
}
.container-gap {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.flex {
  display: flex;
}

h4 {margin: 0;}
