/* You can add global styles to this file, and also import other style files */
.buttons-gap {
  display: flex;
  gap: 0.5rem;
}
.container-gap {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.flex {
  display: flex;
}

h4 {
  margin: 0;
}

.gap-sm {
  display: flex;
  gap: 0.5rem;
}

.error {
  color: red;
  font-weight: bold;
}

.mt-md {
  margin-top: 1rem;
}
