<form [formGroup]="formGroup" class="container-gap">
  <input
    type="text"
    pInputText
    [disabled]="true"
    formControlName="name"
    placeholder="Name FormControl"
  />
  <input
    type="text"
    pInputText
    [disabled]="true"
    formControlName="surname"
    placeholder="Surname FormControl"
  />
  <div class="buttons-gap">
    <button pButton (click)="changeNameState()">Change name state</button>
    <button pButton (click)="changeSurnameState()" class="p-button-help">
      Change surname state
    </button>
  </div>

  <div class="highlight">
    <h4>FormValue</h4>
    <span>with formGroup.value</span>
    <pre>{{ formGroup.value | json }}</pre>
  </div>

  <h4>Name value</h4>
  <pre>{{ nameControl.value | json }}</pre>

  <h4>Surname value</h4>
  <pre>{{ surnameControl.value | json }}</pre>
</form>
